<div class="container">
  <h1>List</h1>


  <ul class="list-group" *ngIf="todos">
    <li class="list-group-item" *ngFor="let todo of todos" (click)="editTodo(todo)">
      <div *ngIf="!selectedTodo">
        <span class="badge badge-pill badge-primary">{{todo.id}}</span> 
        <span class="task">{{todo.task}}</span>
        <span  (click)="removeTodo(todo)" style="margin-left: 20px;"><i class="fas fa-minus-circle"></i></span>
      </div>
      <div *ngIf="selectedTodo">
        <div *ngIf="todo.id !== selectedTodo.id">
            <span class="badge badge-pill badge-primary">{{todo.id}}</span> 
            <span class="task">{{todo.task}}</span>
            <span  (click)="removeTodo(todo)"><i class="fas fa-minus-circle"></i>
            </span>
        </div>
        <div *ngIf="todo.id === selectedTodo.id">
          <app-todo-edit [selectedTodo]="selectedTodo"
          (sendTodoToListEvent)="sendTodoToListEventHandler($event)"></app-todo-edit>
        </div>
      </div>
    </li>
  </ul>
</div>



<div class="pt-2" *ngIf="isAddButtonClicked">
  <app-todo-add (closeAddingEvent)="closeAddingEventHandler($event)" (addTaskToListEvent)="addTodoToListEventHandler($event)"></app-todo-add>
</div>
<div class="container add" *ngIf="!isAddButtonClicked">
  <span class="add badge badge-pill badge-success" (click)="showDialogForNewTodo()">+</span>
</div>
